#scramble {
    font-size: 20px;
}

#solve_number {
    font-size: 25px;
}

#clock {
    font-size: 150px;
}

#times {
    font-size: 30px;
}

#ao5, #ao12 {
    font-size: 20px;
}

#average5, #average12 {
    font-weight: bold;
    font-size: 25px;
}