{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Personal Bests</title>
        <link rel="stylesheet" href="{% static 'timer/pbs.css' %}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="{% static 'timer/pbs.js' %}"></script>
    </head>
    <body>
        <h2>Your Personal Bests:</h2>
        <a id="index" href="{% url 'index' %}">Timer</a>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Single</th>
                    <th scope="col">ao5</th>
                    <th scope="col">ao12</th>
                </tr>
            </thead>
            <tbody>
                <tr id="data">
                    {% if database.single_proper %}
                        <td id="single" onclick="change_pb('single')">{{ database.single_proper }}</td>
                    {% endif %}
                    {% if database.ao5_proper %}
                        <td id="ao5" onclick="change_pb('ao5')">{{ database.ao5_proper }}</td>
                    {% endif %}
                    {% if database.ao12_proper %}
                        <td id="ao12" onclick="change_pb('ao12')">{{ database.ao12_proper }}</td>
                    {% endif %}
                </tr>
            </tbody>
        </table>
    </body>
</html>